#h1container {
	width: 100%;
	text-align: center;
}

#container {


	border: 1px solid black;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;


}
	.about {
	color: white;	}



/*footer*/
.col_white_amrc { color: white;}
footer { width:100%; background-color: lightblue; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.about { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.about p {padding:0px 0px 5px 0px;}
.about p{ color:#CCC;}
.about p:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.about { padding-right:10px; }


